@import url('./variables.css');
@import url('./base.css');
@import url('./layout.css');
@import url('./header.css');
@import url('./sidebar.css');
@import url('./form.css');
@import url('./modal.css');
@import url('./components.css');
@import url('./dashboard.css');
@import url('./stock.css');
@import url('./wallet.css');
@import url('./profile.css');
@import url('./StockDetailPage.css');
@import url('./AdminPage.css')