@import './variables.css';
@import './base.css';
@import './layout.css';
@import './header.css';
@import './sidebar.css';
@import './form.css';
@import './modal.css';
@import './components.css';
@import './dashboard.css';
@import './stock.css';
@import './wallet.css';
@import './profile.css';
@import './StockDetailPage.css';
@import './AdminPage.css'